// reset
body{margin:0;}
ul{
	margin-top:0;
	padding-left:0;
	-webkit-margin-after: 0;
	// height:1px;
}
//public
.hidden{display:none;}
.block{display:block;}
.left{float:left;}
.right{float:right;}
.container{margin-left:auto;margin-right:auto;width:1226px;}
a{text-decoration:none;&:link, &:visited, &:active ,&:hover{color: #000;}}
// nav
nav{
	$height:40px;
	$font-color:#b0b0b0;
	$font-highlight:#fff;
	height:$height;
	background-color:#363636;
	color:$font-color;
	li{
		display:block;
		float:left;
		a{
			line-height:$height;
			padding: 0 10px;
			&:link, &:visited, &:active{color: $font-color;}
			&:hover{color: $font-highlight;}


		}
		&::before{
			content: "|";
		}
		&:first-child::before{
			display:none;
		}
	}
}